@mixin BaseContainerRowColumns {
  display: grid;
  grid-template-rows: 1.5rem 82rem 1.5rem;
  grid-template-columns: repeat(10, 6.5rem);

  //SECTION_START: template-area defintion

  grid-template-areas:
    "two two two two two two two one one one"
    "main main main main main main main main main main"
    "oneL oneL oneL twoL twoL twoL twoL twoL twoL twoL";
}
