.startpage {
  //NOTE: Takes the width and height of parent = body (body has 100vh and wh)
  height: 100%;
  width: 100%;
  //SECTION_START: grid-dimensions defintion

  display: grid;
  grid-template-rows: 1.5rem 82rem 1.5rem;
  grid-template-columns: repeat(10, 6.5rem);

  //SECTION_START: template-area defintion

  grid-template-areas:
    "two two two two two two two one one one"
    "main main main main main main main main main main"
    "oneL oneL oneL twoL twoL twoL twoL twoL twoL twoL";

  //SECTION_START: NOTE:CHILDS=> upper and lower lines

  .line-one-third {
    background-color: #4fbdba;

    &--upper {
      grid-area: one;
    }

    &--lower {
      grid-area: oneL;
    }
  }

  .line-two-third {
    background-color: #35858b;

    &--upper {
      grid-area: two;
    }

    &--lower {
      grid-area: twoL;
    }
  }

  //SECTION_START: main container

  .main-container {
    background-color: #072227;
    grid-area: main;
    display: grid;
    // NOTE: Future Refactoring Point for dynamic layouting!
    grid-template-columns: 100%;
    grid-template-rows: 22rem 36rem 24rem;
    grid-template-areas: 
    //NOTE: Is strictly not necessary because of natural grid flow, but implemented for safety reasons; get rid of when needed!

      "titleSection"
      "previewSection"
      "menuSection";

    .titleSection {
      // background-color: rgb(62, 62, 62);
      grid-area: titleSection;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 10% 20% 40% 20% 10%;

      .main-title {
        color: white;
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        justify-self: center;
        align-self: center;
      }

      .upper-head {
        // background-color: #b8621b;
        // height: 1rem;
        // align-self: flex-end;

        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: repeat(40, 1fr);

        &--hanger {
          background-color: #b8621b;
          grid-column: 12;
          grid-row: 2 / 3;
          width: 1rem;
          justify-self: right;
          border-bottom-left-radius: 10rem;
          border-bottom-right-radius: 10rem;
        }

        &--hanger-2 {
          background-color: #b8621b;
          grid-column: 12;
          width: 1rem;
          justify-self: right;
          align-self: flex-end;
          height: 1.6rem;
          border-top-left-radius: 10rem;
        }

        &--line {
          background-color: #b8621b;
          height: 1rem;
          grid-column: 13 / 28;
          align-self: center;
          border-top-right-radius: 10rem;
          border-bottom-right-radius: 10rem;
        }

        &--cross {
          grid-column: 28 / 30;
          width: 4rem;
          height: 4rem;
          align-self: center;
          justify-self: center;
        }
      }

      .lower-head {
        // background-color: #b8621b;
        // height: 1rem;
        // align-self: flex-start;

        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: repeat(40, 1fr);

        &--hanger {
          background-color: #b8621b;
          grid-column: 29;
          grid-row: 2 / 3;
          width: 1rem;
          height: 1.6rem;
          justify-self: left;
          border-bottom-right-radius: 10rem;
        }

        &--hanger-2 {
          background-color: #b8621b;
          grid-column: 29;
          width: 1rem;
          justify-self: left;
          align-self: flex-start;
          height: 2.3rem;
          border-top-right-radius: 10rem;
          border-top-left-radius: 10rem;
        }

        &--line {
          background-color: #b8621b;
          height: 1rem;
          grid-row: 2/3;
          grid-column: 14 / 29;
          align-self: center;
          border-top-left-radius: 10rem;
          border-bottom-left-radius: 10rem;
        }

        &--circle {
          grid-column: 12 / 14;
          grid-row: 2/3;
          width: 2.45rem;
          height: 2.45rem;
          align-self: flex-end;
          justify-self: center;
        }
      }

      .message {
        color: white;
        font-style: italic;
        font-size: 1rem;
        padding-left: 12.8rem;
        align-self: flex-end;
      }
    }

    .previewSection {
      // background-color: rgb(80, 80, 80);
      grid-area: previewSection;
    }

    .menuSection {
      // background-color: rgb(16, 16, 16);
      grid-area: menuSection;
      display: grid;
      justify-content: space-around;
      grid-template-columns: repeat(2, 43%);
      grid-template-rows: 45% 40%;

      .buttonStart {
        color: white;
        font-weight: 400;
        font-size: 3rem;
        border-style: solid;
        border-width: 0.75rem;
        border-color: #b8621b;
        padding: 2rem 3rem;
        border-radius: 10rem;
        justify-self: center;
        align-self: start;
        text-decoration: none;

        &--singleplayer {
          justify-self: start;
        }

        &--multiplayer {
          justify-self: end;
        }
      }

      .displayDateBox {
        grid-column: 1 / 3;
        color: white;
        font-size: 2rem;
        border-style: solid;
        padding: 2rem 2rem;
        align-self: end;
        text-align: center;
      }
    }
  }
}
