//SECTION: Startpage Buttons - inherited

@include hoverStateButtonOn(startpageButton-ON, #b8621b);
@include hoverStateButtonOff(startpageButton-OFF);
@include clickedStateButton(startpageButton-CLICKED, #b8621b);

//SECTION: Not inherited Animations

//SUB_SECTION: Title Section

@keyframes crossTitleRotate {
  0% {
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

@keyframes circleTitleHop {
  0% {
  }

  50% {
    transform: translateY(-0.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes noteScaler {
  0% {
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

//SUB_SECTION: Preview Section

@keyframes Cross-1 {
  100% {
    opacity: 1;
  }
}

@keyframes Circle-1 {
  100% {
    opacity: 1;
  }
}

@keyframes Cross-2 {
  100% {
    opacity: 1;
  }
}

@keyframes Circle-2 {
  100% {
    opacity: 1;
  }
}

@keyframes Cross-3 {
  100% {
    opacity: 1;
  }
}

//SUB_SECTION:

//SUB_SECTION: Whole Page

@keyframes PageOnLoadAnim {
  0% {
    opacity: 0;
    transform: translateY(-100rem);
  }

  100% {
    transform: translateY(0);
  }
}

.PageOnLoad {
  animation: PageOnLoadAnim 2s ease-in-out 0s 1 normal forwards;
}

@keyframes PageOffLoadAnim {
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(100rem);
  }
}

.PageOffLoad {
  animation: PageOffLoadAnim 2s ease-in-out 0s 1 normal forwards;
}
