//SECTION: Singleplayer Buttons

@include hoverStateButtonOn(singleplayerButton-ON, #5b8a72);
@include hoverStateButtonOff(singleplayerButton-OFF);
@include clickedStateButton(singleplayerButton-CLICKED, #5b8a72);

//NOTE: seperate for replay button

@include hoverStateButtonREPLAY-On(singleplayerButtonReplay-ON, #5b8a72);
@include hoverStateButtonREPLAY-Off(singleplayerButtonReplay-OFF);
@include clickedStateButtonREPLAY(singleplayerButtonReplay-CLICKED, #5b8a72);

//SECTION: Confirm Button Optionbox

@keyframes singleplayerButtonConfirm-ON {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  100% {
    background-color: white;
    transform: translateX(-1rem);
    color: #464f41;
    border-color: #464f41;
  }
}

@keyframes singleplayerButtonConfirm-Off {
  0% {
    background-color: white;
    transform: translateX(-1rem);
    color: #464f41;
    border-color: #464f41;
  }

  100% {
    transform: translateX(0);
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes singleplayerButtonConfirm-CLICKED {
  0% {
    background-color: white;
    transform: translateX(-1rem);
    color: #464f41;
    border-color: #464f41;
  }

  100% {
    background-color: white;
    transform: translateX(-1rem) scale(0.9);
    color: #464f41;
    border-color: #464f41;
  }
}

@keyframes singleplayerButtonMode-ON {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  100% {
    background-color: white;
    transform: translateX(1rem);
    color: #464f41;
    border-color: #464f41;
  }
}

@keyframes singleplayerButtonMode-Off {
  0% {
    background-color: white;
    transform: translateX(1rem);
    color: #464f41;
    border-color: #464f41;
  }

  100% {
    transform: translateX(0);
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes singleplayerButtonMode-CLICKED {
  0% {
    background-color: white;
    transform: translateX(1rem);
    color: #464f41;
    border-color: #464f41;
  }

  100% {
    background-color: white;
    transform: translateX(1rem) scale(0.9);
    color: #464f41;
    border-color: #464f41;
  }
}

@keyframes singleplayerButtonSave-ON {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  100% {
    background-color: white;
    transform: translateY(-0.5rem);
    color: #464f41;
    border-color: #464f41;
  }
}

@keyframes singleplayerButtonSave-Off {
  0% {
    background-color: white;
    transform: translateY(-0.5rem);
    color: #464f41;
    border-color: #464f41;
  }

  100% {
    transform: translateY(-0);
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes singleplayerButtonSave-CLICKED {
  0% {
    background-color: white;
    transform: translateY(-0.5rem);
    color: #464f41;
    border-color: #464f41;
  }

  100% {
    background-color: white;
    transform: translateY(-0.5rem) scale(0.9);
    color: #464f41;
    border-color: #464f41;
  }
}
