*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Normalize brwosersettings!  */
}

html {
  /* Defining global font size for rem by percentage, for flexibel browser compatibility --> default 16px * 62.5% = 10px (root rem factor) */
  font-size: 62.5%;
  //NOTE: Had to reduce font-size for rem spec because of prev error with scaling...
  // font-size: 50%;
}

// Temporary for connection test!

body {
  background-color: #262a56;
  min-width: 100vw;
  min-height: 100vh;

  display: grid;
  justify-content: center;
  align-content: center;
}

a {
  text-decoration: none;
}
