.line-one-third {
  background-color: #4fbdba;

  &--upper {
    grid-area: one;
  }

  &--lower {
    grid-area: oneL;
  }
}

.line-two-third {
  background-color: #35858b;

  &--upper {
    grid-area: two;
  }

  &--lower {
    grid-area: twoL;
  }
}
