.startpage {
  @include baseContainer(grid, white, #4fbdba, #35858b);

  &__main-container {
    //NOTE: Main Container of this page is different from the ones in Singleplay and Multiplayer, do not use the mainContent mixin here!!!
    background-color: #072227;
    grid-area: main;
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 26rem 36rem 20rem;
    grid-template-areas:
      "titleSection"
      "previewSection"
      "menuSection";
  }
}
