.singleplayer {
  &__gameSection {
    &__optionBox {
      // SECTION: Style Settings

      background-color: #5b8a72;
      z-index: 2;
      grid-row: 1/-1;
      grid-column: 1/-1;
      border-radius: 1rem;
      border-style: solid;
      border-color: white;
      padding: 1rem 1rem;

      //SECTION: Gridsettings

      display: none;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
      grid-template-rows: 15% 28% 30% 10% 17%;
      grid-template-columns: 49% 2% 49%;
      grid-template-areas:
        "title title title"
        "note note note"
        "circle gap cross"
        "cir-s l cro-s"
        "row row row";

      //SECTION: Childselection

      &--title {
        grid-area: title;
        font-size: 2.5rem;
        font-weight: 700;
      }

      &--note {
        grid-area: note;
        font-size: 2rem;
        font-weight: 100;
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      &--circle {
        grid-area: circle;
        transform: scale(0.5);
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          transform: scale(0.6) translateY(-1rem);
        }
      }

      &--cross {
        grid-area: cross;
        transform: scale(0.4);
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          transform: scale(0.5) translateY(-1rem);
        }
      }

      &--divider {
        grid-area: gap;
        background-color: white;
        border-radius: 1rem;
        justify-self: stretch;
        align-self: stretch;
      }

      &--selector {
        transform: scale(0.3);
        grid-area: cir-s;
      }
      //NOTE: The actual confirm button
      &--confirm {
        align-self: flex-end;
        justify-self: left;
        grid-area: row;
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 700;
        border-radius: 2rem;
        border-style: solid;
        border-color: white;
        padding: 0.6rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: white;
          transform: translateY(-0.41rem);
          color: #464f41;
          border-color: #464f41;
        }

        &:active {
          background-color: white;
          transform: translateY(-0.41rem) scale(0.9);
          color: #464f41;
          border-color: #464f41;
        }
      }

      //NOTE: Button to go to switchmode page!

      &--switchmode {
        grid-area: row;
        align-self: flex-end;
        justify-self: right;
        margin-right: 1rem;

        font-size: 1.3rem;
        font-weight: 700;
        border-radius: 2rem;
        border-style: solid;
        border-color: white;
        padding: 0.6rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: white;
          transform: translateY(-0.4rem);
          color: #464f41;
          border-color: #464f41;
        }

        &:active {
          background-color: white;
          transform: translateY(-0.4rem) scale(0.9);
          color: #464f41;
          border-color: #464f41;
        }
      }
    }
  }
}
