*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Normalize brwosersettings! TEST */
}

html {
  /* Defining global font size for rem by percentage, for flexibel browser compatibility --> default 16px * 62.5% = 10px (root rem factor) */
  font-size: 62.5%;
}

// Temporary for connection test!

body {
  background-color: grey;
}
