@mixin basecontainer($switch, $border-col, $one-third-col, $two-third-col) {
  //NOTE: depends uppon rem values in app
  height: 100%;
  width: 100%;
  //SECTION_START: border styles
  border-style: solid;
  border-color: $border-col;
  border-width: 0.5rem;
  border-radius: 0.7rem;
  //SECTION_START: grid-dimensions defintion
  display: $switch;
  grid-template-rows: 1.5rem 82rem 1.5rem;
  grid-template-columns: repeat(10, 6.5rem);
  //SECTION_START: template-area defintion
  grid-template-areas:
    "two two two two two two two one one one"
    "main main main main main main main main main main"
    "oneL oneL oneL twoL twoL twoL twoL twoL twoL twoL";
  //SECTION_START: Outline upper and lower definition (four childs)
  &__line-one-third {
    background-color: $one-third-col;

    &--upper {
      grid-area: one;
    }

    &--lower {
      grid-area: oneL;
    }
  }

  &__line-two-third {
    background-color: $two-third-col;

    &--upper {
      grid-area: two;
    }

    &--lower {
      grid-area: twoL;
    }
  }
}

@mixin baseGameSection {
  grid-area: gameSection;
  display: grid;
  grid-template-columns: repeat(32, 1rem);
  grid-template-rows: repeat(32, 1rem);
  justify-content: center;
  align-content: center;

  //SECTION_START: FIELD DEFINITION => NOTE: LINES!

  &__fieldline {
    background-color: white;
    border-radius: 1rem;

    &__horizontal {
      &--1 {
        grid-row: 11/11;
        grid-column: 1 / -1;
      }
      &--2 {
        grid-row: 22/22;
        grid-column: 1 / -1;
      }
    }

    &__vertical {
      &--1 {
        grid-column: 11/11;
        grid-row: 1 / -1;
      }
      &--2 {
        grid-column: 22/22;
        grid-row: 1 / -1;
      }
    }
  }
}

@mixin extensionGameSection {
  //SECTION_START: FIELD DEFINTION => NOTE: FIELDS!

  &__fieldBox {
    // background-color: rgba(128, 128, 128, 0.244);
    //SECTION_START: First Row
    &--1 {
      grid-row: 1/11;
      grid-column: 1/11;
    }
    &--2 {
      grid-row: 1/11;
      grid-column: 12/22;
    }
    &--3 {
      grid-row: 1/11;
      grid-column: 23/33;
      //SECTION_START: Second Row
    }
    &--4 {
      grid-row: 12/22;
      grid-column: 1/11;
    }
    &--5 {
      grid-row: 12/22;
      grid-column: 12/22;
    }
    &--6 {
      grid-row: 12/22;
      grid-column: 23/33;
    }
    //SECTION_START: Third Row
    &--7 {
      grid-row: 23/33;
      grid-column: 1/11;
    }
    &--8 {
      grid-row: 23/33;
      grid-column: 12/22;
    }
    &--9 {
      grid-row: 23/33;
      grid-column: 23/33;
    }
  }

  //SECTION_START: OBJECT DEFINTIONS => NOTE: CROSS AND CIRCLE!

  &__cross {
  }

  &__circle {
    padding: 1.2rem;
  }
}
