*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Normalize brwosersettings! TEST */ }

html {
  /* Defining global font size for rem by percentage, for flexibel browser compatibility --> default 16px * 62.5% = 10px (root rem factor) */
  font-size: 62.5%; }

body {
  background-color: grey;
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center; }

html {
  font-family: "Roboto Mono", monospace;
  font-weight: 400; }

.startpage {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1.5rem 82rem 1.5rem;
  grid-template-columns: repeat(10, 6.5rem);
  grid-template-areas: "two two two two two two two one one one" "main main main main main main main main main main" "oneL oneL oneL twoL twoL twoL twoL twoL twoL twoL"; }
  .startpage .line-one-third {
    background-color: #4fbdba; }
    .startpage .line-one-third--upper {
      grid-area: one; }
    .startpage .line-one-third--lower {
      grid-area: oneL; }
  .startpage .line-two-third {
    background-color: #35858b; }
    .startpage .line-two-third--upper {
      grid-area: two; }
    .startpage .line-two-third--lower {
      grid-area: twoL; }
  .startpage .main-container {
    background-color: #072227;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18rem 40rem 24rem;
    grid-template-areas: "titleSection" "previewSection" "menuSection"; }
    .startpage .main-container .titleSection {
      grid-area: titleSection; }
    .startpage .main-container .previewSection {
      grid-area: previewSection; }
    .startpage .main-container .menuSection {
      grid-area: menuSection;
      display: grid;
      justify-content: space-around;
      grid-template-columns: repeat(2, 43%);
      grid-template-rows: 45% 40%; }
      .startpage .main-container .menuSection .buttonStart {
        color: white;
        font-weight: 700;
        font-size: 3rem;
        border-style: solid;
        border-width: 0.75rem;
        border-color: #b8621b;
        padding: 2rem 3rem;
        justify-self: center;
        align-self: start;
        text-decoration: none; }
        .startpage .main-container .menuSection .buttonStart--singleplayer {
          justify-self: start; }
        .startpage .main-container .menuSection .buttonStart--multiplayer {
          justify-self: end; }
      .startpage .main-container .menuSection .displayDateBox {
        grid-column: 1 / 3;
        color: white;
        font-size: 2rem;
        border-style: solid;
        padding: 2rem 2rem;
        align-self: end;
        text-align: center; }

.app {
  background-color: bisque;
  width: 65rem;
  height: 85rem; }
